body {
  display: flex;
  align-items: center;
  margin: 0;
  font-family: '方正小标宋_GBK';
  color: rgb(109, 29, 107);
  background: black;
}

/* 聚焦时移除外圈 */
div:focus {
  outline: none;
}

#coverBody {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#backBody {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#songBody {
  width: 100%;
  height: 100vh;
  transform: matrix(1, 0, 0, 1, 0, 0);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-image: url('img/歌曲背景图.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.song-info {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  width: 100%;
}

.song-info__cover {
  width: 240px;
  height: 216px;
}

.song-info__words {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.song-info__words-title {
  font-size: calc(72px * 0.99);
}

.song-info__words-divider {
  width: calc(661px * 0.99);
  height: calc(13px * 0.99);
  background-color: rgb(109, 29, 107);
}

.song-info__words-people {
  width: calc(661px * 0.99);
  height: calc(85px * 0.99);
  display: flex;
  align-items: center;
}

.song-info__words-people-person {
  margin-top: 24px;
  flex: 1;
  height: 100px;
}

.song-info__words-people-lyricist-title {
  font-size: calc(24px * 0.99);
  margin: 8px;
}

.song-info__words-people-lyricist-name {
  font-size: calc(36px * 0.99);
  margin: 8px;
}

.song-info__words-people-composer-title {
  font-size: calc(24px * 0.99);
  margin: 8px;
}

.song-info__words-people-composer-name {
  font-size: calc(36px * 0.99);
  margin: 8px;
}

#lyricsBody {
  width: 100%;
  height: 100vh;
  background-image: url('img/歌词背景图.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.lyrics-container {
  width: 100%;
  height: calc(720px - 12px);
  margin-top: 56px;
  display: flex;
  justify-content: flex-start;
  overflow-x: hidden;
  scrollbar-width: none; /* 针对 Firefox */
  -ms-overflow-style: none; /* 针对 Internet Explorer 和 Edge */
}

.lyrics-container::-webkit-scrollbar {
  display: none; /* 针对 Chrome, Safari 和 Opera */
}

#lyricLines {
  line-height: 1.8;
}

.lyric-line {
  padding: 0 48px;
  font-size: 64px;
}

/*.lyric-line:focus {*/
/*  font-weight: 900;*/
/*}*/
